body{
    background-color: rgb(221, 207, 162);
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 80px;
    height: 80px;
}

caption{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 91, 148);
}

h1{
    font-size: 70px;
    display: block;
    color: rgb(207, 30, 74);
    border:solid rgba(13, 12, 14, 0.856);
    text-align: center;
    margin-bottom: 50px;
    height: 110px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(243, 171, 145);
}

th, td{
    width: 150px;
    height: 100px;
    text-align: center;
}

td{
    border: solid rgb(77, 62, 62);
}

th{
    font-size: 20px;
    color: rgb(207, 30, 74) ;
}

.tableau{
    margin-top: 100px;
}

.total{
    text-align: right;
}

